@font-face {
    font-family: 'GiantsInline';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Giants-Inline.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* 테두리까지 포함해서 크기 계산 */
}

/* 2. 화면 전체를 꽉 채우도록 설정 */
html, body, #root {

}

/* 3. 기본 폰트 및 배경색 설정 */
body {

}

/* 4. 링크 밑줄 없애기 */
a {
  text-decoration: none;
  color: inherit;
}