version: '3.8'

services:
  # 1. 데이터베이스 서비스 이름 (db라고 지었어요)
  db:
    image: postgres:15              # 사용할 이미지: PostgreSQL 15 버전
    container_name: my_portfolio_db # 컨테이너 이름: 나중에 찾기 쉽게 이름 붙이기
    restart: always                 # 꺼지면 자동으로 다시 켜기
    ports:
      - "5433:5432"                 # 포트 연결: (내 컴퓨터 포트):(도커 내부 포트)
    environment:
      POSTGRES_USER: myuser         # DB 접속 아이디 (원하는 걸로 바꾸셔도 돼요)
      POSTGRES_PASSWORD: 1234 # DB 접속 비밀번호 (꼭 기억해 두세요!)
      POSTGRES_DB: portfolio_db     # 처음에 자동으로 만들 데이터베이스 이름
    volumes:
      - ./postgres-data:/var/lib/postgresql/data # 데이터 저장소 연결 (아래 설명 참고!)
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql #(init.sql을 도커 안의 특수 폴더로 복사하는 설정)